<div class="ui container">
  <div class="ui header">First Things First</div>
  <div class="ui bulleted list">
    <div class="item">
      Set Up Favicons using https://realfavicongenerator.net
    </div>
    <div class="item">
      Copy the icons into /public,
    </div>
    <div class="item">
      Set up Google Tag Manager
    </div>
    <div class="item">
      Input the tag # under layouts/common and layouts/common-body
    </div>
  </div>
</div>