/*
 *= require_self
 */

@import "semantic-ui";

.main.container {
  min-height: 100vh;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.secondary.pointing.menu .right.trigram.item {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .right.item.item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .right.trigram.item {
    display: block;
  }
  .secondary.pointing.menu a.header.item {
    display: block;
  }
}