<% if Rails.env.production? %>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXDD44B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<% end %>