<% if notice %>
<p>
  <div class="ui positive floating icon message">
  	<i class="close icon"></i>
  	<i class="check icon"></i>
  	<div class="content">
		  <div class="header">
				<%= notice %>
		  </div>
		 </div>
	</div>
</p>
<% end %>
<% if alert %>
<p>
  <div class="ui negative floating icon message">
  	<i class="close icon"></i>
  	<i class="exclamation icon"></i>
  	<div class="content">
			<div class="header">
				<%= alert %>
		  </div>
		 </div>
	</div>
</p>
<% end %>
