<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Heading 1</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">#</a>
          <a href="#" class="item">#</a>
          <a href="#" class="item">#</a>
          <a href="#" class="item">#</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Heading 2</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">X</a>
          <a href="#" class="item">X</a>
          <a href="#" class="item">X</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Wide Heading</h4>
        <p>Tagline?</p>
      </div>
    </div>
  </div>
</div>
