<div class="ui vertical inverted right sidebar menu">
  <% if user_signed_in? %>
  	<%= link_to 'Dashboard', root_path, class: 'active item' %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "item" %>
  <% else %>
  	<%= link_to 'Home', root_path, class: 'active item' %>
    <%= link_to 'Sign In', new_user_session_path, class: 'item' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'item' %>
  <% end %>
</div>
