<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate 2020</title>
    <%= render 'layouts/common' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/common_body' %>
    <%= render 'layouts/sidebar' %>
    <div class="pusher">

      <div class="ui inverted vertical center aligned segment">
        <div class="ui container">

          <div class="ui secondary inverted pointing menu">
            <%= link_to 'SITE NAME', root_path, class: 'header item' %>
            <div class="right item">
              <% if user_signed_in? %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "item" %>
              <% else %>
                <%= link_to 'Sign In', new_user_session_path, class: 'item' %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'item' %>
              <% end %>
            </div>
            <a class="right trigram item">
              <i class="large sidebar icon"></i>
              Menu
            </a>
          </div>

        </div>
      </div>

      <div class="ui main container">
        <p>&nbsp;</p>
        <%= render 'layouts/flash' %>
        <%= yield %>
        <p>&nbsp;</p>
      </div>

      <%= render 'layouts/footer' %>

    </div>

  </body>
</html>
